@{
	ViewData["Title"] = "صفحه اصلی";
}

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
	<div class="container">
		<div class="profile-teaser media flex-column flex-lg-row">
			<img class="profile-image mb-3 mb-lg-0 ml-lg-5 mr-md-0" src="~/assets/images/me.png" alt="">
			<div class="media-body">
				<h2 class="name font-weight-bold mb-1">علی اعظمی</h2>
				<div class="tagline mb-3">Junior Developer</div>
				<div class="bio mb-4">
					<a>
						شرکت دانش رفاه پردیس، یکی از شرکت های تابعه بانک رفاه کارگران می باشد که از سال 1400 استارت شروع به کار خود را زده است.
						ساختمان شرکت واقع در خ طالقانی تقاطع وصال شیرازی پ 568 بوده و رئیس شرکت جناب آقای مهندس پرهام محمدی می باشد.
					</a>
				</div>
				<div class="mb-4">
					<a class="btn btn-primary mr-2 mb-3" href="https://www.daneshrefah.ir">
						<i class="fas fa-arrow-alt-circle-right ml-2"></i><span class="d-none d-md-inline">
							برو به دانش رفاه
						</span> 
					</a>
					<a class="btn btn-secondary mb-3" href="https://sanjesh.org">
						<i class="fas fa-file-alt ml-2"></i>
						<span class="d-none d-md-inline">مشاهده </span> نمونه کارها
					</a>
				</div>
			</div>

		</div>
	</div>
</section>

@* <partial name="Projects"/> *@

@await Component.InvokeAsync("Projects")

<div class="container">
	<hr>
</div>

@await Component.InvokeAsync("Articles")
