<footer class="footer text-center py-4">
    <small class="copyright">
        تولید شده توسط &copy; <a href="https://www.daneshrefah.ir" target="_blank">
            شرکت دانش رفاه پردیس
        </a>
    </small>
</footer>